data/config.json
.DS_Store
.clang_complete
.gcc-flags.json
.pioenvs
.travis.yml
.piolibdeps
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
.vscode
.pio